.VerifyPhone {
    background-color: #F8F8F8;
    min-height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
}

.card {
    max-width: 26.25rem;
    width: 100%;
    background-color: #fff;
    border-radius: .75rem;
    border: .175rem solid #e7e7e7;
    padding: 1.5rem;
}

.card-header {
    border-bottom: .1rem solid #e7e7e7;

}

.card-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-subheading {
    font-size: .9rem;
    color: #444444;
    font-weight: normal;
}


.card-body {
    border-bottom: .1rem solid #e7e7e7;
}

.card-body-heading {
    font-size: .9rem;
    font-weight: bold;
}

.card-body-subheading {
    font-size: .9rem;
    color: #444444;
    font-weight: 500 !important;
}

.card-body2-heading {
    font-size: .9rem;
    font-weight: bold;
}

.card-body2-subheading {
    font-size: .7rem;
    color: #444444;
    background-color: rgba(37, 69, 255, 0.1);
    font-weight: 500 !important;
}

.btn-container {
    width: 100%;
}
.btn {
    width: inherit;
}

.ctas {
    border-bottom: .1rem solid #e7e7e7;
}

.ph-no-input-container {
    align-items: center;
}

.email-dropdown-container {
    flex: 10%;
    min-width: 50px;
    background-color: transparent;
    border: none;
    margin-bottom: .5rem;
}
.email-icon {
    max-width: 40px;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: .4rem;
}
.drop {
    height: 5px;
    position: relative;
    top: -4px;
}

.radio {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
a {
    color: rgba(37, 69, 255, 1);
}
.agreement {
    font-size: .8rem;
}

.btn-ph-nav:disabled {
    background-color: rgba(37, 70, 255, 0.5);
}

.otp-module-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.otp-inputs {
    width: 3rem !important;
    height: 3rem !important;
    margin: 0 .5rem;
    font-size: .9rem;
    border-radius: .7rem;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444444; 
    font-weight: 600 !important; 
    margin: 0 .5rem;
    @media (max-width: 500px) {
        width: 2.5rem !important;
    }
    @media (max-width: 420px) {
        margin: 0 .3rem;
        width: 2.5rem !important;
        height: 2.5rem !important;
    }
}
.otp-inputs2 {
    width: 3rem !important;
    height: 3rem !important;
    margin: 0 .5rem;
    font-size: .9rem;
    border-radius: .7rem;
    border: 1px solid rgba(255, 61, 61, 0.781);
    color: #444444; 
    font-weight: 600 !important; 
    margin: 0 .5rem;
    @media (max-width: 500px) {
        width: 2.5rem !important;
    }
    @media (max-width: 420px) {
        margin: 0 .3rem;
        width: 2.5rem !important;
        height: 2.5rem !important;
    }
}


.otp-inputs:focus {
    border: 1px solid rgba(37, 69, 255, 1);
    outline: none;
}

.otp-heading {
    font-size: .8rem;
    font-weight: 600 !important;
    /* display: none; */
}

.otp-input-sec-phase {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: .9rem;
}

.otp-resend-btn {
    color: rgba(37, 69, 255, 1);
    font-size: .9rem;
    font-weight: 600 !important;
}